body {
 margin: 0;
 padding: 0;
}
.logo {
    margin: 10px;
}
.full-header {
    font-family: 'Roboto';
    background-color: #1F2937;
    height: 300px;
    padding: 0;
    margin: 0px;
}
.header {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
}
.other {
    color: #F9FAF8;
    text-align: center; 
    font-size: 24px;
    font-weight: 900;
    display: flex;
    justify-content: flex-start;
}
.other-p {
    color: #E5E7EB;
    font-weight: 0;
    display: flex;

}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
    margin-top: 10px;

}
.info {
    font-family: 'Roboto';
    background-color: white;
    height: 300px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;

}
.quote {
    font-family: 'Roboto';
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    height: 300px;

}
.bottom {
    background-color: white;
    height: 300px;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;

}
.action {
    background-color: #3882F6;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    height: 200px;
}
.button {
    color:#E5E7EB;
    background-color: #3882F6;
    width: 50px;
    height: 50px;
    border: 10px;
    border-color: white;
    font-size: 16px;
    border-radius: 10px;
}
ul {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
    gap: 28px;
}
li {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

}